
.segment1-container {
    width: 30%;
    max-width: 700px;
    height: 725px;
    position: absolute;
    top: 7.7rem;
    display: flex;
    justify-content: left;
    z-index: 1;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}


.segment1-items {
    margin-left: 2rem;
    height: auto;
}





.segment1-items h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.5rem;
}


.segment2 {
    width: 100%;
    max-width: 1920px;
    padding: 3rem;
}

.segment2 h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1rem 3rem 0 3rem;
}

.segment2 p { 
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0 3rem;
}





.segment3-container {
    width: 30%;
    max-width: 700px;
    height: 720px;
    position: relative;
    top: 7.7rem;
    display: flex;
    justify-content: left;
    z-index: 1;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}


.segment3-items {
    margin-left: 2rem;
    height: auto;
}





.segment3-items h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.5rem;
}

.segment3-items h3 {
    font-weight: normal;
    font-size: 1.5rem;
}










@media screen and (orientation: portrait) {

    .segment1 img {
        transform: translateX(-55%);
        filter: opacity(20%);

    }



    
    .segment1-container {
        width: 80%;
        height: 100%;
        max-height: 725px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: transparent;
    }


    .segment1-items {
        margin-left: 2rem;
        margin: 2rem;
        height: auto;
    }





    .segment1-items h3 {
        font-size: 1.5rem;
    }

}
