
.segment1 {
    overflow: hidden;
}

.segment1-container {
    width: 35%;
    height: 820px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.541);
}


.segment1-items {
    margin-left: 2rem;
    height: auto;
}


.segment1-items a {
    background-color: var(--yellow);
    padding: 1.5rem;
    display: flex;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #3b3b3b;
    text-decoration: none;
    border-radius: 1rem;

}


.segment1-items h1 {
    text-transform: uppercase;
    font-weight: normal;
}


.segment1-items h3 {
    font-weight: normal;
    font-size: 1.5rem;
}


.segment1-items a:hover {
    transform: scale(101%);
}

.segment1 img {

}




















@media screen and (orientation: portrait) {

    .segment1 img {
        transform: translateX(-35%);
        filter: opacity(10%);

    }



    
    .segment1-container {
        width: 80%;
        height: 100%;
        max-height: 725px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }


    .segment1-items {
        margin-left: 2rem;
        margin: 2rem;
        height: auto;
    }





    .segment1-items h3 {
        font-size: 1.5rem;
    }

}
